name: CI Tests

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  test:
    runs-on: ubuntu-latest

    env:
      SECRET_KEY: "django-insecure-test-key-dummy-value"
      DEBUG: "True"
      
    steps:
    - name: Check out code
      uses: actions/checkout@v4

    - name: Install uv
      uses: astral-sh/setup-uv@v4
      with:
        enable-cache: true

    - name: Set up Python
      run: uv python install 3.12

    - name: Install dependencies
      run: uv sync --all-extras --dev

    - name: Run Tests
      run: uv run coverage run -m pytest

    - name: Show Coverage Report
      run: uv run coverage report